body{
   line-height: 2;
}


header, nav{
    padding: 3px 2px 1px 4px;
    margin: 5px;

}
nav ul li{
    display: inline-block;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    background-color: lightgray;
    font-size: 16px;
}

nav a{
    text-decoration: none;
}

a:visited{
    color: black;
}

nav a.current{
    color: blue;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 3px;
    text-transform: uppercase;
}


h1{
   /*Set font and font size*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}

h2{
    /*Set font, font size, and alignment*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

h3{
    /*Set font size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;

}

h1, h2, h3{
    /*Set margin */
    margin: 15px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    grid-gap: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 3px solid black;
    border-radius: 10px;
}

.grid img{
    /* Set width, margin, and display */
    display: block;
    margin: 0 auto;
    width: 90%;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}

@media (min-width: 769px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        margin: 0 auto;
        grid-gap: 10px;

    }

    .grid img{
        /* Set width, margin, and display */
        display: block;
        margin: 0 auto;
        width: 90%;
        border: solid 2px black;
        border-radius: 20px;
    }
}
